html, body, #root { height: 100%; width: 100%; margin: 0; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  background-color: #ff8fad;
}

.calculator-border {
  display: flex;
  align-items: center;
  justify-content: center;
  height:90%;
  width:35%;
  background-color: #ffbacd;
  border-radius:15px;
}

.calculator {
  display: flex;
  flex-direction: column;
  height:90%;
  width:90%;
  background-color: #6388ff;
  box-shadow: 10px 10px 20px 13px rgba(34, 60, 80, 0.2);
  border-radius:15px;
}